.map {
    width: 45%; /*領域の幅*/
    height: 450px; /*領域の高さ*/
    float: left;/*要素を左詰めに*/
    margin: 2.5%;/*他要素との距離*/
}
.access_information {
    width: 45%; /*領域の幅*/
    height: 450px; /*領域の高さ*/
    float: left; /*要素を左詰めに*/
    margin: 2.5%; /*他要素との距離*/
    font-size: 20px;/*テキストサイズ*/
    padding-top: 2em;/*要素内の余白*/
}

table th{
    padding:2px;
}
table tr {
    padding: 2px;
}
